// # Clearfix

// Used to clear floats with this [technique](http://tinyurl.com/la5h3sg).
// To use, extend the clearfix class.

// Note: If you're using Flexbox CSS for layout you will not need this.

//[c]
//     .foo {
//          @extend %cf;
//     }
//[/c]

%cf,
.cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
