// # Layout
// Classes for building page layouts. Use this only to build the major
// layout areas of a page.

// - `lego-pane-group` defines a flexbox area.
// - `lego-pane-group--column` defines the direction of the flex to be a column. By default flex children are in a row.
// - `lego-pane--full` sets the height to 100%. Generally only needed on the first child of the body, essentially a wrapper.
// - `lego-pane` is the child of the flexbox. By itself doesn't have CSS associated with it but it does help identify the structure when troubleshooting.
// - `lego-pane--flex-1` is equivalent to `flex:1`.

// ## Example

//[hc]
//     <div class="lego-pane-group lego-pane-group--column lego-pane--full">
//       <div class="lego-pane">
//         <div class="docs-layout-item">pane</div>
//       </div>
//       <div class="lego-pane lego-pane-group lego-pane--flex-1">
//         <div class="lego-pane lego-pane--flex-1">
//           <div class="docs-layout-item">pane</div>
//         </div>
//         <div class="lego-pane">
//           <div class="docs-layout-item">pane</div>
//         </div>
//       </div>
//     </div>
//[/hc]

// ### Panes

%lego-pane-group,
.lego-pane-group {
  @include display(flex);

  &--column {
    @include flex-direction(column);;
  }
}

%lego-pane,
.lego-pane {

  &--full {
    height: 100%;
  }

  &--flex {
    @include display(flex);
  }

  &--flex-1 {
    @include flex(1);
  }

  &--scroll-y {
    overflow-y: auto;
  }

  &--empty {
    @include display(flex);
    @include justify-content(center);;
    @include align-items(center);
  }
}

// ### Array
// Row of any number of items at equal height and width.
// Background classees here only to show the items are the same height and width.

// [hc]
//     <div class="lego-array">
//       <div class="lego-array__item background--faint">
//         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
//       </div>
//       <div class="lego-array__item background--faint">
//         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae excepturi eum suscipit necessitatibus iure nam architecto.
//       </div>
//       <div class="lego-array__item background--faint">
//         Lorem ipsum dolor sit amet.
//       </div>
//     </div>
// [/hc]

%lego-array,
.lego-array {
  @include display(flex);

  &__item {
    @include flex(1);
    margin-left: spacer(1);
    margin-right: spacer(1);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// ### Lego Fence
// This adds padding or margin to full-width items
// to move them away from the walls for their container.

%lego-fence--soft,
.lego-fence--soft {
  padding-left: spacer(2);
  padding-right: spacer(2);
}

%lego-fence--push,
.lego-fence--push {
  margin-left: spacer(2);
  margin-right: spacer(2);
}

.empty-state-message {
  color: map-get($font-color, muted);
  font-size: map-get($font-size, epsilon);
  text-align: center;
}

// ## Full Screen
// Make an element fill the window.

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
}
