// # Core Partials
// This represents the bulk of the paritals used by all sites: desktop, mobile, tablet.
// They are the building blocks of all patterns and are width and layout independent.

// ## Elements
// Abstractions that provide basic structure, generally extended into larger objects.

@import 'partials/elements/clearfix';
@import 'partials/elements/flexbox';
@import 'partials/elements/grid';
@import 'partials/elements/layout';

// ## Base
// Baseline rules.

@import 'partials/base/reset';
@import 'partials/base/main';

@import 'partials/base/code';
@import 'partials/base/form';
@import 'partials/base/images';
@import 'partials/base/links';
@import 'partials/base/lists';
@import 'partials/base/tables';
@import 'partials/base/text';

// ## Objects
// Simple styled objects that can be extended or used directly in HTML.

@import 'partials/objects/accordion';
@import 'partials/objects/attention';
@import 'partials/objects/arrows';
@import 'partials/objects/arrows-inline';
@import 'partials/objects/block-list';
@import 'partials/objects/borders';
@import 'partials/objects/buttons';
@import 'partials/objects/button-group';
@import 'partials/objects/button-row';
@import 'partials/objects/dropdown';
@import 'partials/objects/disclose';
@import 'partials/objects/dialog';
@import 'partials/objects/help';
@import 'partials/objects/island';
@import 'partials/objects/icons';
@import 'partials/objects/matrix';
@import 'partials/objects/media';
@import 'partials/objects/nav';
@import 'partials/objects/pagination';
@import 'partials/objects/poptip';
@import 'partials/objects/popover';
@import 'partials/objects/progress';
@import 'partials/objects/rules';
@import 'partials/objects/search';
@import 'partials/objects/spinner';
@import 'partials/objects/stats';
@import 'partials/objects/steps';
@import 'partials/objects/tabs';
@import 'partials/objects/tags';
