{% if headless %}---
layout: wrapper
TR_seo_title: "Case Studies"
TR_visible_title: "Case Studies"
no_container: true
page_css:
- scribe.css
page_script: customer-stories.js
body_class:
- scribe
- page--stories
---{% endif %}

{% if !headless %}
  {% include 'common/head.html' {
      page: 'stories'
    }
  %}
{% endif %}
{% include 'hero.html' %}
{% include 'stats.html' %}

<div class="content-wrap customer-stories">
  <div class="content-text">
    <%= contents %>
  </div>
</div>

{% include 'cta-footer.html' %}
{% include 'recommended.html' %}
{% if !headless %}
  {% include 'common/foot.html' %}
{% endif %}