{% if headless %}---
layout: wrapper
TR_seo_title: {{ title }}
TR_visible_title: {{ title }}
no_container: true
page_css:
- scribe.css
external_stylesheets:
- //maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css
page_script: customer-stories.js
body_class:
- scribe
- page--stories
og_title: {{ title }}
og_description: {{ hero.subtitle }}
og_image: {{ cdn.customer_stories + shortname }}/{{ shortname }}-hero-medium.jpg
---{% endif %}

{% if !headless %}
  {% include 'common/head.html' {
      page: 'stories'
    }
  %}
{% endif %}
{% include 'hero.html' %}
{% include 'stats.html' %}

<div class="content-wrap customer-stories">
  <div class="content-text">
    <%= contents %>
  </div>
</div>

{% include 'social.html' %}
{% include 'cta-footer.html' %}
{% include 'recommended.html' %}
{% if !headless %}
  {% include 'common/foot.html' %}
{% endif %}