@mixin right-hang() {
  float: right;
  clear: right;
  width: 35%;
  margin-right: -(spacer(6));
  margin-left: spacer(3);
  margin-bottom: spacer(1);

  @include breakpoint($max: 1050px) {
    margin-right: 0;
  }
}

@mixin right-hang-reset() {
  @include breakpoint($max: 650px) {
    margin: spacer(4) 0;
    float: none;
    width: auto;
  }
}