@mixin layout-fence {
  max-width: 900px;
  padding-left: spacer(2);
  padding-right: spacer(2);
  margin-left: auto;
  margin-right: auto;
}

.fence {
  @include layout-fence;
}

.ebook-wrap {
  @include display(flex);
  @include layout-fence;

  h2:first-of-type {
    padding-top: 0;
  }

  h6 + h2 {
    padding-top: spacer(1);
  }

  p, ul, ol {
    margin-bottom: spacer(1.5);
  }
}

.ebook-toc-wrap {
  position: relative;
  width: 200px;
  margin-right: spacer(5);

  @include breakpoint($max: 800px) {
    display: none;
  }

}

.ebook-text {
  @include flex(1);
  margin-bottom: spacer(6);

  ul {
    list-style: disc;
    margin-left: spacer(3);
  }

  ol {
    list-style: decimal;
    margin-left: spacer(3);
  }
}