// # Code
// For monospace code snippets, both inline and multiline.

// <div class="example html">
//     Text can have <code>code snippets</code> in a sentence.
// </div>

code {
  font-family: map-fetch($font, family monospace);
}

.lego-pre {
  margin-bottom: spacer(1);
  white-space: pre-wrap;

  code {
    padding: spacer(1);
    background: map-fetch($color, background faint);
    overflow-x: auto;
    display: block;
    border-radius: map-fetch($border-radius, base);
    border: 1px solid map-fetch($color, ui base);
  }
}

.lego-code {
  background: map-fetch($color, background faint);
  border-radius: map-fetch($border-radius, base);
  border: 1px solid map-fetch($color, ui base);
  padding: 1px 3px;
}
