// # Links

// Links will use the `map-get($link-color, base)`. You can also apply a `.link` class to an element.

// ## HTML Examples

//[hc]
//     Text can have <span class="link">link color</span> when not a HTML anchor.
//[/hc]

//[hc]
//     Links can be <a href="#" class="link--disabled">disabled</a> if need be.
//[/hc]

a,
%link,
.link {
  color: map-get($link-color, base);
  cursor: pointer;

  &:visited,
  &:active {
    color: map-get($link-color, base);
  }

  &:hover {
    color: lighten(map-get($link-color, base), 10%);
  }
}

%link--dark,
.link--dark {
  color: map-get($font-color, base);
  cursor: pointer;

  &:visited,
  &:active {
    color: map-get($font-color, base);
  }

  &:hover {
    color: map-get($link-color, base);
  }
}

%link--bad-news,
.link--bad-news {
  color: map-get($font-color, base);
  cursor: pointer;

  &:visited,
  &:hover,
  &:active {
    color: map-get($link-color, bad-news);
  }
}

%link--reverse,
.link--reverse {
  color: map-get($link-color, white) !important;
  cursor: pointer;

  &:hover {
    color: lighten(map-get($link-color, brand-light), 15%) !important;
  }
}

%link--disabled,
.link--disabled {
  color: map-get($font-color, muted);

  &:visited,
  &:hover,
  &:active {
    color: map-get($font-color, muted);
    cursor: default;
  }
}


// Targets anchors without an `href` attribute and not a lego-button.

a:not([href]):not(.lego-button) {
  color: map-get($link-color, base);

  &:visited,
  &:hover,
  &:active {
    color: map-get($link-color, base);
    cursor: default;
  }
}
