blockquote {

  p {
    font-size: map-fetch($font, size delta);
    font-weight: 500;
  }

  .attribution {
    font-size: map-fetch($font, size milli);
  }

  &.half {
    @include right-hang;
    @include right-hang-reset;
    @include breakpoint($max: 650px) {
      text-align: center;
    }
  }

  &.full {
    margin: spacer(4) 0;
    border-left: none;
    text-align: center;
  }
}
