blockquote {
  padding: 0;
  border: none;

  p {
    font-size: map-fetch($font, size beta);
    font-weight: 300;
    line-height: 1.2;
  }

  .attribution {
    font-size: map-fetch($font, size milli);
  }

  &.half {
    @include right-hang;
    @include right-hang-reset;
    @include breakpoint($max: 650px) {
      text-align: center;
    }

    p {
      font-size: map-fetch($font, size gamma);
      line-height: 1.4;
    }
  }

  &.full {
    padding: 0;
    margin: spacer(6) -40px;
    border-left: none;
    text-align: center;

    @include breakpoint($max: 840px) {
      margin-left: 0;
      margin-right: 0;

      p {
        font-size: map-fetch($font, size gamma);
      }
    }
  }
}
