.callout {
  @extend %kill-last-child-margin;
  border: 1px solid map-fetch($color, ui base);
  margin: spacer(4) 0;
  padding: spacer(2);
  border-radius: map-fetch($border-radius, base);

  *:first-child {
    padding-top: 0;
  }

  h4 {
    text-transform: uppercase;
  }

  &.callout--big {
    background: map-fetch($color, background brand-light);
    border: none;
  }
}