.case-study-box {
  border: 1px solid map-fetch($color, ui base);
  padding: spacer(3);
  padding-bottom: spacer(.5);
  border-radius: map-fetch($border-radius, base);
  background: map-fetch($color, background white);

  @include right-hang;
  @include right-hang-reset;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-bottom: spacer(3);
      line-height: 1;
    }
  }

  &__title {
    margin-bottom: spacer(1);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
    font-size: 14px;
    line-height: 1;
  }

  > img {
    margin-bottom: spacer(3.5);
  }

  @include breakpoint($max: 650px) {
    text-align: center;

    > img {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      @include display(flex);

      > li {
        @include flex(1);
      }
    }
  }
}
