.cta-footer {
  background: map-fetch($color, background faint);
  padding: spacer(5) 0;
  margin-bottom: spacer(6);
  text-align: center;

  &__title {
    font-size: map-fetch($font, size gamma);
    margin-bottom: spacer(2);
  }
}