.person {
  @include right-hang;
  width: 140px;
  text-align: center;
  font-size: map-fetch($font, size milli);

  &__img {
    height: 140px;
    width: 140px;
    border-radius: map-fetch($border-radius, full);
    margin-bottom: spacer(1);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center center;
  }

  &__company {
    text-transform: uppercase;
    font-weight: map-fetch($font, weight bold);
    font-size: map-fetch($font, size micro);
    letter-spacing: 1px;
  }
}