.stats {
  background: #eee;
  padding-top: spacer(4);
  padding-bottom: spacer(4);

  .lego-stat-group {
    @include layout-fence;
    @include justify-content(space-between);
    max-width: 900px !important;

    @include breakpoint($max: 500px) {
      @include flex-wrap(wrap);
    }
  }

  .lego-stat {
    @include flex(1);
    padding-left: spacer(1);
    padding-right: spacer(1);
    margin-right: 0;
    text-align: center;

    @include breakpoint($max: 500px) {
      @include flex(none);
      @include flex-grow(1);
      margin-bottom: spacer(1);
      width: 50%;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .stat__value {
    margin-bottom: spacer(1);
    font-size: map-fetch($font, size alpha);
    line-height: 1;
    font-weight: 300;
    color: #00415d;

    @include breakpoint($max: 630px) {
      font-size: 30px;
    }
  }

  .stat__title {
    color: #888;
    font-size: 15px;
    line-height: 20px;
  }
}
