.stats {
  background: #eee;
  padding-top: spacer(2);
  padding-bottom: spacer(2);


  .lego-stat-group {
    @include layout-fence;
    @include justify-content(space-between);

    @include breakpoint($max: 500px) {
      @include flex-wrap(wrap);
    }
  }

  .lego-stat {
    @include flex(1);
    margin-right: 0;
    text-align: center;

    @include breakpoint($max: 500px) {
      @include flex(none);
      @include flex-grow(1);
      margin-bottom: spacer(1);
      width: 50%;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .stat__value {
    font-size: map-fetch($font, size alpha);
    line-height: 1;

    @include breakpoint($max: 630px) {
      font-size: 30px;
    }
  }
}