.ebook-toc {
  width: 200px;
  margin-right: spacer(5);

  a {
    color: map-fetch($color, text base);
    display: block;
    position: relative;

    &:hover {
      color: map-fetch($color, link base);
    }
  }

  &__title {
    margin-bottom: spacer(1);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: map-fetch($font, weight semi);
    font-size: map-fetch($font, size micro);
  }

  &__footer {
    width: 50%;
    border-top: 1px solid map-fetch($color, ui base);
    margin-top: spacer(2);
    padding-top: spacer(2.5);
    font-weight: map-fetch($font, weight semi);
    font-size: map-fetch($font, size micro);
    text-transform: uppercase;
    letter-spacing: 1px;

    li {
      margin-bottom: spacer(0.5);
    }
  }

  .toc {
    li {
      margin-bottom: spacer(0.5);
      font-size: map-fetch($font, size milli);
    }

    a {
      &:hover {
        &:before {
          content:"";
          border-left: 2px solid map-fetch($color, ui brand);
          position: absolute;
          top: 0;
          left: -(spacer(1));
          bottom: 0;
        }
      }
    }
  }

  .fa {
    font-size: map-fetch($font, size gamma);
    margin-right: spacer(.5);
  }

  [toc-position='0'] & {
    position: static;
  }

  [toc-position='1'] & {
    position: fixed;
    top: 40px;
  }

  [toc-position='2'] & {
    position: absolute;
  }
}