.fence {
  @include layout-fence;
}

.content-wrap {
  @include display(flex);
  @include layout-fence;
  margin-top: spacer(5);

  h2:first-of-type {
    padding-top: 0;
  }

  h6 + h2 {
    padding-top: spacer(1);
  }

  p, ul, ol {
    margin-bottom: spacer(1.5);
  }
}

.toc-wrap {
  width: 200px;
  margin-right: spacer(5);

  @include breakpoint($max: 800px) {
    display: none;
  }

}

.content-text {
  @include flex(1);
  margin-bottom: spacer(6);

  ul {
    list-style: disc;
    margin-left: spacer(3);
  }

  ol {
    list-style: decimal;
    margin-left: spacer(3);
  }
}

.intro {
  font-size: map-fetch($font, size gamma);
  margin-bottom: spacer(4);
}

// Specific Content Types

.customer-stories {

  h2 {
    color: #999;
    text-transform: uppercase;
    font-size: map-fetch($font, size epsilon);
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: spacer(4);
  }
}
