// # Attention
// Boxes for highlighting important information or warnings.

// ### Default
// For general notifications using the default color.

//[hc]
//     <div class="lego-attention text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Default With Close
// For general notifications using the default color.

//[hc]
//     <div class="lego-attention text--center push-double--bottom">
//       <svg class="lego-icon lego-attention__close">
//         <use xlink:href="#close"></use>
//       </svg>
//       This is a note.
//     </div>
//     <div class="lego-attention">
//       <svg class="lego-icon lego-attention__close">
//         <use xlink:href="#close"></use>
//       </svg>
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Brand
// For general notifications using the brand color.

//[hc]
//     <div class="lego-attention lego-attention--brand text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--brand">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Warning
// For alterting a user to information that's important.

//[hc]
//     <div class="lego-attention lego-attention--warning text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--warning">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Good News
// For alterting a user to information that's good.

//[hc]
//     <div class="lego-attention lego-attention--good-news text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--good-news">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Error
// For bad-news states or bad news.

//[hc]
//     <div class="lego-attention lego-attention--bad-news text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--bad-news">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

%lego-attention,
.lego-attention {
  @extend %kill-last-child-margin;
  padding: spacer(1);
  border-radius: map-get($border-radius, base);
  border: 1px solid map-get($ui-color, base);
  background: map-get($background-color, faint);

  &--brand {
    border-color: map-get($ui-color, brand-light);
    background-color: map-get($background-color, brand-light);
  }

  &--warning {
    border-color: map-get($ui-color, warning);
    background-color: map-get($background-color, warning);
  }

  &--good-news {
    border-color: map-get($ui-color, good-news);
    background-color: map-get($background-color, good-news);
  }

  &--bad-news {
    border-color: map-get($ui-color, bad-news);
    background-color: map-get($background-color, bad-news);
  }

  &__close {
    float: right;
    margin-left: spacer(1);
    cursor: pointer;
  }
}
