// # Block List
// Create big blocky vertical lists with dividers.

// ### Default Block List

//[hc]
//     <ul class="lego-block-list">
//       <li>Foo</li>
//       <li>Bar</li>
//       <li>Baz</li>
//       <li><a href="#" class="lego-block-list__link">Foo Bar Baz</a></li>
//     </ul>
//[/hc]

// ### Block List with Bottom Border

//[hc]
//     <ul class="lego-block-list lego-block-list--all">
//       <li>Foo</li>
//       <li>Bar</li>
//       <li>Baz</li>
//       <li><a href="#" class="lego-block-list__link">Foo Bar Baz</a></li>
//     </ul>
//[/hc]

// ### Block List with Boundry

//[hc]
//     <ul class="lego-block-list-group">
//       <li>Foo</li>
//       <li>Bar</li>
//       <li>Baz</li>
//       <li><a href="#" class="lego-block-list__link">Foo Bar Baz</a></li>
//     </ul>
//[/hc]

%lego-block-list,
.lego-block-list {
  list-style: none;
  margin-left: 0;

  > li {
    padding: spacer(0.5) spacer(1);
    border-top: 1px solid map-get($ui-color, light);
  }

  // For links that will take up full space of list item.

  &__link {
    display: block;
    padding: spacer(0.5) spacer(1);
    margin-left: -(spacer(1));
    margin-right: -(spacer(1));

    &:hover {
      background-color: map-get($background-color, brand-light);
    }

    &--active {
      background-color: map-get($background-color, faint);
    }

    &:first-child {
      margin-top: -(spacer(0.5));
    }

    &:last-child {
      margin-bottom: -(spacer(0.5));
    }

  }

  // Removes padding on left/right so items are not indented.

  &--flush {
    li {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--all {
    li:last-child {
      border-bottom: 1px solid map-get($ui-color, light);
    }
  }

}

// ### Block List Group
// Extends ruled list to create a self-contained grouping.

%lego-block-list-group,
.lego-block-list-group {
  @extend %lego-block-list;
  border: 1px solid map-get($ui-color, base);
  border-radius: map-get($border-radius, base);

  > li:first-child {
    border: 0;
  }
}
