// ## Button Row
// For buttons that align left or right with space between them.

%lego-button-row,
.lego-button-row {

  &--left {

    .lego-button {
      margin-right: spacer(1);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--right {
    text-align: right;

    .lego-button {
      margin-left: spacer(1);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &--center {
    text-align: center;

    .lego-button {
      margin-left: spacer(0.5);
      margin-right: spacer(0.5);
    }
  }
}
