// # Dropdown
// A list of links that drops down from a trigger.

// ## Usage
// Dropdowns are used by default for navigation elements, interactive,
// functional lists that show up below the trigger. This can include
// internal anchor links or wrapping links for the whole item.

// In rare cases popovers may be used.

// ## Examples

// ### Dropdown Default
//[hc]
//     <div class="lego-dropdown-group" v-dropdown>
//       <button class="lego-button" data-toggle-dropdown>
//         Dropdown <span class="lego-arrow-inline--down"></span>
//       </button>
//       <ul class="lego-dropdown">
//         <li class="lego-dropdown__item">
//           <a href="#" class="lego-dropdown__block-link">Manage Collaborators</a>
//           <a href="#" class="lego-dropdown__block-link">Manage This Thing</a>
//         </li>
//         <li class="lego-dropdown__item">
//           <a href="#" class="lego-dropdown__block-link">Experiment Change History</a>
//         </li>
//       </ul>
//     </div>
//[/hc]

// ### Dropdown Right
// Ignore the outer `div` in this example. It's used only to move the button to the right.

//[hc]
//     <div style="text-align:right">
//       <div class="lego-dropdown-group" v-dropdown>
//         <button class="lego-button" data-toggle-dropdown>
//           Dropdown <span class="lego-arrow-inline--down"></span>
//         </button>
//         <ul class="lego-dropdown lego-dropdown--right">
//           <li class="lego-dropdown__item">
//             <a href="#" class="lego-dropdown__block-link">Manage Collaborators</a>
//             <a href="#" class="lego-dropdown__block-link">Manage This Thing</a>
//           </li>
//           <li class="lego-dropdown__item">
//             <a href="#" class="lego-dropdown__block-link">Experiment Change History</a>
//           </li>
//         </ul>
//       </div>
//     </div>
//[/hc]

// ### Dropdown with non-links

//[hc]
//     <div class="lego-dropdown-group" v-dropdown>
//       <button class="lego-button" data-toggle-dropdown>
//         Dropdown <span class="lego-arrow-inline--down"></span>
//       </button>
//       <ul class="lego-dropdown">
//         <li class="lego-dropdown__item">
//           <a href="#">Manage Collaborators</a> and some text
//         </li>
//         <li class="lego-dropdown__item">
//           <a href="#" class="lego-dropdown__block-link">Experiment Change History</a>
//           <a href="#" class="lego-dropdown__block-link">Another Link</a>
//         </li>
//       </ul>
//     </div>
//[/hc]

// ### Dropdown with Filter

//[hc]
//     <div class="lego-dropdown-group" v-dropdown>
//       <button class="lego-button" data-toggle-dropdown>
//         Dropdown <span class="lego-arrow-inline--down"></span>
//       </button>
//       <ul class="lego-dropdown">
//         <li class="lego-dropdown__item">
//           <form class="soft-half--ends">
//               <input type="text" class="lego-text-input lego-text-input--search">
//           </form>
//         </li>
//         <li class="lego-dropdown__item">
//           <a href="#" class="lego-dropdown__block-link">Experiment Change History</a>
//         </li>
//       </ul>
//     </div>
//[/hc]

// ### Dropdown with Input

//[hc]
//     <div class="lego-dropdown-group" v-dropdown>
//       <input type="text" class="lego-text-input" data-toggle-dropdown />
//       <ul class="lego-dropdown">
//         <li class="lego-dropdown__item">
//           <a href="#" class="lego-dropdown__block-link">Item One</a>
//           <a href="#" class="lego-dropdown__block-link">Item Two</a>
//         </li>
//       </ul>
//     </div>
//[/hc]

.lego-dropdown-group {
  font-size: map-get($font-size, base);
  display: inline-block;
  position: relative;
  vertical-align: top;

  &.shown {
    .lego-dropdown {
      visibility: visible;
    }
  }
}

%lego-dropdown,
.lego-dropdown {
  @extend %lego-block-list-group;
  background: map-get($background-color, white);
  box-shadow: 0 2px map-get($shadow, light);
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: auto;
  z-index: 1;
  margin-top: 2px;
  text-align: left;
  visibility: hidden;

  &__item {
    white-space: nowrap;
    color: map-get($font-color, base);

    &--active {
      background: map-get($background-color, faint);
    }
  }

  &__block-link {
    @extend %lego-block-list__link;
  }

  &--right {
    right: 0;
    left: auto;
  }
}
