// # Help
// Buttons and icons when help is required.

// ## Example

//[hc]
//     <span class="lego-help-dot" v-poptip data-dir="top-center" data-content="This should be short text, no more than a sentence."></span>
//[/hc]

.lego-help-dot {
  background: map-get($background-color, muted);
  color: map-get($font-color, white);
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-size: 10px;

  &::after {
    content: '?';
  }
}
