// # Poptips

// Information bubbles on hover. Almost always used with postition: absolute.

// ## Examples

//[hc]
//     <button v-poptip data-dir="top-left" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="top-center" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="top-right" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="bottom-left" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="bottom-center" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="bottom-right" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="right" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="left" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="top" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

//[hc]
//     <button v-poptip data-dir="bottom" data-content="This is a pop-tip. Use only limited text." class="lego-button">
//         Hover Me
//     </button>
//[/hc]

$lego-pop-tip-background: map-get($ui-color, dark);

.lego-pop-tip {
  background: $lego-pop-tip-background;
  color: map-get($font-color, white);
  border-radius: map-get($border-radius, base);
  font-size: map-get($font-size, micro);
  padding: spacer(0.5) spacer(1);
  max-width: 250px;
  display: inline-block;
  z-index: map-get($z-index, poptip); // Desktop variable, not Lego.

  // Arrow options.

  &--arrow-top-center {
    @include arrow(top, center, $lego-pop-tip-background);
  }

  &--arrow-top-left {
    @include arrow(top, left, $lego-pop-tip-background);
  }

  &--arrow-top-right {
    @include arrow(top, right, $lego-pop-tip-background);
  }

  &--arrow-bottom-center {
    @include arrow(bottom, center, $lego-pop-tip-background);
  }

  &--arrow-bottom-left {
    @include arrow(bottom, left, $lego-pop-tip-background);
  }

  &--arrow-bottom-right {
    @include arrow(bottom, right, $lego-pop-tip-background);
  }

  &--arrow-left {
    @include arrow(left, center, $lego-pop-tip-background);
  }

  &--arrow-right {
    @include arrow(right, center, $lego-pop-tip-background);
  }
}
