// # Fonts
// Pulls in fonts from self hosting.

// ### Font Support
//
// - woff2: Chrome 26+, Opera 23+
// - woff: Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+

// ### Proxima Light

$hosting-url: '//dhm5hy2vn8l0l.cloudfront.net/proxima/';

@font-face {
  font-family: 'Proxima';
  font-weight: 300;
  src: url($hosting-url + 'proximanova-light.woff2') format('woff2'), url($hosting-url + 'proximanova-light.woff') format('woff');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 300;
  font-style: italic;
  src: url($hosting-url + 'proximanova-lightit.woff2') format('woff2'), url($hosting-url + 'proximanova-lightit.woff') format('woff');
}

// ### Proxima Regular

@font-face {
  font-family: 'Proxima';
  font-weight: 400;
  src: url($hosting-url + 'proximanova-reg.woff2') format('woff2'), url($hosting-url + 'proximanova-reg.woff') format('woff');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 400;
  font-style: italic;
  src: url($hosting-url + 'proximanova-regit.woff2') format('woff2'), url($hosting-url + 'proximanova-regit.woff') format('woff');
}

// ### Proxima Bold

@font-face {
  font-family: 'Proxima';
  font-weight: 500;
  src: url($hosting-url + 'proximanova-bold.woff2') format('woff2'), url($hosting-url + 'proximanova-bold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 500;
  font-style: italic;
  src: url($hosting-url + 'proximanova-boldit.woff2') format('woff2'), url($hosting-url + 'proximanova-boldit.woff') format('woff');
}
