body {
  margin: 0;
  font-family: Source Sans Pro;
}

#wrap-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 50px;
}

.toc {
  width: 33.33%;
  position: relative;
}

.toc ul {
  position: fixed;
  list-style: none;
  margin: 0;
}

#content {
  flex: 1;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.bleed {
  background: red;
  position: relative;
  box-shadow: 500px 0 0 red;
  padding: 20px 0;
}

.bleed:before {
  content: "";
  background: red;
  top: 0;
  left: -999px;
  bottom: 0;
  position: absolute;
  right: 100%;
  z-index: -1;
}