// # Background Trumps
// Adding background colors via classes.

.background--white {
  background-color: map-fetch($color, background white) !important;
}

.background--faint {
  background-color: map-fetch($color, background faint) !important;
}

.background--light {
  background-color: map-fetch($color, background light) !important;
}

.background--muted {
  background-color: map-fetch($color, background muted) !important;
}

.background--medium {
  background-color: map-fetch($color, background medium) !important;
}

.background--brand {
  background-color: map-fetch($color, background brand) !important;
}

.background--brand-dark {
  background-color: map-fetch($color, background brand-dark) !important;
}

.background--warning {
  background-color: map-fetch($color, background warning) !important;
}

.background--bad-news {
  background-color: map-fetch($color, background bad-news) !important;
}

.background--good-news {
  background-color: map-fetch($color, background good-news) !important;
}
