// # Type Trumps

// ## Font Weights

//[hc]
//     <div class="weight--light">This is light text.</div>
//[/hc]

.weight--light {
  font-weight: 300 !important;
}

.weight--normal {
  font-weight: 400 !important;
}

.weight--bold {
  font-weight: 500 !important;
}


// ## Font Style

//[hc]
//     <div class="style--italic">This is italic text.</div>
//[/hc]

.style--italic {
  font-style: italic !important;
}

.style--normal {
  font-style: normal !important;
}


// ## Help Cursor
// Add a help cursor to any element that gives the user extra information on
// `:hover`.

//[hc]
//     <div class="informative">Hover over me for a help cursor.</div>
//[/hc]

.informative {
  cursor: help !important;
}

// ## Underline
// Adds text-decoration: underline to text.

//[hc]
//     <div>You can <span class="underline">underline</span> words.</div>
//[/hc]

.underline {
  text-decoration: underline !important;
}

// Adds text-decoration: line-through;.

//[hc]
//     <div>You can <span class="strike">strike</span> words.</div>
//[/hc]

.strike {
  text-decoration: line-through !important;
}

// ## Font Colors
// Mute text or reverse for dark backgrounds.

//[hc]
//     <div class="muted">This is a muted color. Can be applied to anything.</div>
//[/hc]

.reverse {
  color: map-get($font-color, white) !important;
}

.muted {
  color: map-get($font-color, muted) !important;
}

.faint {
  color: map-get($font-color, faint) !important;
}

// ## Proceed (Align Right)
// Align items to the right where they imply progression/movement forward, e.g.:

//[hc]
//     <div class="proceed"><a href="#">Read more...</a></div>
//[/hc]

.proceed {
  text-align: right !important;
}

// ## Ellipsis
// Truncates item to a single line, adding ellipsis at the end.

//[hc]
//     <div class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatibus aliquam pariatur consequuntur, dicta reiciendis numquam vero.</div>
//[/hc]

%truncate,
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ## Right-Angle Quote
// Add a right-angled quote to links that imply movement, e.g.:

//[hc]
//     <a href=# class="go">Read more</a>
//[/hc]

.go::after {
  content: '\00A0' '\00BB' !important;
}

// ## Uppercase
// Apply capital case to an element.

//[hc]
//     <a href=# class="caps">Read more</a>
//[/hc]

.caps {
  text-transform: uppercase !important;
}

// ## Break Word & No Wrap
// Break or don't break long strings.

//[hc]
//     <a href=# class="force-break">alongunbrokenstringthatgoesonalongunbrokenstringthatgoesonalongunbrokenstringthatgoesonalongunbrokenstringthatgoeson</a>
//[/hc]

.force-break {
  word-wrap: break-word !important;
}

.nowrap {
  white-space: nowrap !important;
}

// ## Text
// Adjust block and inline.

//[hc]
//     <a href="#" class="text--block">block link</a>
//[/hc]

.text--block {
  display: block !important;
}

.text--inline {
  display: inline !important;
}

// ## Line Height
// For adjusting line-heights.

.line--tight {
  line-height: map-get($line-height, tight) !important;
}

.line--loose {
  line-height: map-get($line-height, loose) !important;
}


// ## Text wrapping &amp; breaking.

.word-break {
  word-break: break-all !important;
}

// ## Text Color
// Use for both text and on icons.

//[hc]
//     <p href="#" class="color--brand">This is brand color text</p>
//     <p href="#" class="color--good-news">This is good news text</p>
//     <p href="#" class="color--warning">This is warning text</p>
//     <p href="#" class="color--bad-news">This is bad news text</p>
//[/hc]


%color--brand,
.color--brand {
  color: map-get($font-color, brand) !important;
}

%color--good-news,
.color--good-news {
  color: map-get($font-color, good-news) !important;
}

%color--warning,
.color--warning {
  color: map-get($font-color, warning) !important;
}

%color--bad-news,
.color--bad-news {
  color: map-get($font-color, bad-news) !important;
}
