{% include "common/head.html" %}
{% include "common/header.html" %}
{% include "hero.html" %}

<div class="ebook-wrap">
  <div class="ebook-toc-wrap">
    <div class="ebook-toc">
      <div class="ebook-toc__title">Table of Contents</div>
      <!-- toc -->
      <div class="ebook-toc__footer">
        <ul>
          <li><a href="#"><i class="fa fa-print"></i> Print</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
          <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ebook-text">
    <%= contents %>
  </div>
</div>

{% include "cta-footer.html" %}
{% include "recommended.html" %}
{% include "common/footer.html" %}
{% include "common/foot.html" %}
