.hero {
  @include display(flex);
  margin-bottom: spacer(5);
  height: 400px;
  background-position: center center;
  background-size: cover;

  h1 {
    margin: auto;
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.3);
  }
}