.person {
  float: right;
  width: 140px;
  margin-right: -(spacer(6));
  margin-left: spacer(3);
  text-align: center;

  @include breakpoint($max: 1050px) {
    margin-right: 0;
  }

  &__img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-bottom: spacer(1);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center center;
  }

  &__company {
    text-transform: uppercase;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, milli);
    letter-spacing: 1px;
  }
}