.recommended {
  @include layout-fence;
  margin-bottom: spacer(6);

  .image {
    height: 200px;
    margin-bottom: spacer(1);
    background-size: cover;
    background-position: center center;
  }

  .category {
    text-transform: uppercase;
    font-size: map-get($font-size, milli);
    font-weight: map-get($font-weight, bold);
    letter-spacing: 1px;
    color: map-get($font-color, base);
  }

  .title {
    color: map-get($font-color, base);
  }

  @include breakpoint($max: 630px) {
    .lego-grid {
      @include flex-direction(column);

      &__cell {
        margin-bottom: spacer(3);
      }
    }
  }

}
